<% provide :title, "Home" %>
<div class="center jumbotron">
    <%= link_to image_tag("BranchLogoRaw.jpg", alt: "Branch log", width: "350"), 'http://branchpdx.com/' %>
    
    <h2>Let us help you choose a beverage!</h2>
</div>
